@font-face {
    font-family: norse-bold;
    src: url(./Norse-Bold.otf);
}

.container {
    width: 100vw;
    height: 100vh;
}

.background {
    background-image: url(./photo-1585202900225-6d3ac20a6962.avif);
    width: 40vw;
    height: 100vh;
    background-repeat: no-repeat;
}

*{
    margin: 0px;
    padding: 0px;
}

.logo-background {
background-color: rgba(0, 0, 0, 0.4);
justify-content: center;
align-items: center;
position: relative;
max-width: 40vw;
top: 20vh;
gap: 1vw;
}

.odin {
    height: 15vh;
    padding: 15px;
}

.container, .logo-background {
    display: flex;
    
}

h1 {
    color: white;
    opacity: none;
    font-family: norse-bold;
    font-size: 5em;
}

.top-text {
    background-color: rgb(243, 240, 240);
    display:flex;
    flex-direction: column;
    padding: 4vw;
    gap: 4vh;

}

form {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding: 4vw;
    

}

p1 {
    margin-top: 10vh;
}

p1, p2, legend {
    font-weight: bold;
    font-size: larger;
}

legend {
    width: 100%;
}

.bottom-stuff {
    display: flex;
    padding: 4vw;
    
}
 input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgb(224, 224, 224);
    font-size: .9rem;
    margin-top: 3px;
 }

.input-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.123);
}

button[type='submit'] {
    padding: .8rem 1.3rem;
    font-size: 1.3rem;
    background-color: rgb(99, 180, 6);
    border: none;
    border-radius: 10px;
    color: white;
    letter-spacing: -1px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.253);
  }

button[type='submit']:hover {
    background-color: rgb(48, 133, 52);
  }
