@font-face {
    font-family: norse-bold;
    src: url(./Norse-Bold.otf);
}

.container {
    width: 100vw;
    height: 100vh;
}

.background {
    background-image: url(./photo-1585202900225-6d3ac20a6962.avif);
    width: 40vw;
    height: 100vh;
    background-repeat: no-repeat;
}

*{
    margin: 0px;
    padding: 0px;
}

.logo-background {
background-color: rgba(0, 0, 0, 0.4);
justify-content: center;
align-items: center;
position: relative;
max-width: 40vw;
top: 20vh;
gap: 1vw;
}

.odin {
    height: 15vh;
    padding: 15px;
}

.container, .logo-background {
    display: flex;
    
}

h1 {
    color: white;
    opacity: none;
    font-family: norse-bold;
    font-size: 5em;
}

.top-text {
    background-color: rgb(243, 240, 240);
    display:flex;
    flex-direction: column;
    padding: 4vw;
    gap: 4vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

form {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 4vw;
    justify-content: center;
    column-gap: 2vw;
}

.inputs {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    width: 15vw;
}

input {
    height: 3vh;
    width: 20vw;

}

input:focus {
    border: none;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.342);
    outline: none;
}

input:invalid:focus {
    border: 2px solid rgb(255, 69, 100)
 }
  
input:focus:valid {
    border: rgb(0, 183, 255) 2px solid;
}
  
.error {
    font-family: customFontBold;
    font-size: .7rem;
    color: rgb(255, 69, 100);
    position: absolute;
 }

.bottom-stuff {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    padding: 4vw;
    flex-direction: column;
    gap: 2vh;
    box-shadow: inset 0px 7px 3px -3px rgba(50, 50, 50, 0.25);
}  

p1 {
    margin-top: 10vh;
}

p1, p2, legend {
    font-weight: bold;
    font-size: larger;
}

legend {
    grid-column: span 2;

}


button {
    height: 6vh;
    width: 10vw;
}

button[type="submit"]{
    border-radius: 10px;
    border: none;
    background-color: rgb(11, 202, 11);
    color: white;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.253);
}

button[type="submit"]:hover {
    background-color: darkgreen;

}

a:hover {
    color: darkgreen;
}

a {
    text-decoration: none;
    color: chartreuse;
}



input:valid {

}

inputs:invalid {
    border-color: red;
}
